<div class="row">
    <div class="col wrapper-list">
        <div class="row" *ngIf="(productList$ | async) as productList; else loading">
            <div class="col">
                <div class="fs-28 col">Products</div>
            </div>
            <div class="row">
                <div *ngIf="productList.items.length !== 0; else noData">
                    <div class="mt-14">
                        <app-product class="" *ngFor="let product of productList.items" [product]="product">
                        </app-product>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-52" *ngIf="(productList$ | async)?.items.length !== 0">
            <app-pagination (onChangePage)="changePage($event)"
                [total]="(productList$ | async)?.totalItems"></app-pagination>
        </div>
    </div>
    <div class="col wrapper-filter border-left">
        <app-filter [categories]="productsCategories$ | async" (onNameFilterChanged)="nameFilterChanged($event)"
            (onCategoriesFilterChanged)="categoriesFilterChanged($event)"></app-filter>
    </div>
</div>

<ng-template #noData>
    <div class="mt-14 fs-24 w-1527">
        Список пуст
    </div>
</ng-template>
<ng-template #loading>
    <div class="w-1527">
        Загрузка...
    </div>
</ng-template>