.wrapper-list{
    width: 1527px;
    padding: 52px 64px 0px 64px;
    background-color: #FAFAFA;
    min-height: 1080px;
}

.wrapper-filter{
    width: 393px;
    padding: 52px 33px 0px 33px;
    background-color: white;
    border-left: 1px solid #A5A5A5;
}

.fs-28{
    font-size: 28px;
}

.mt-14{
    margin-top: 14px;
}

.mt-52{
    margin-top: 52px;
}

.w-1527{
    width: 1527px;
}

.fs-24{
    font-size: 24px;
    font-weight: 200;
}


