<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{disabled:currentPage === 1}">
      <a class="page-link pointer" aria-label="Previous" (click)="changePage(currentPage-1)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link">{{currentPage}}</a></li>
    <li class="page-item pointer" [ngClass]="{disabled: total <= currentPage * 5}">
      <a class="page-link" aria-label="Next" (click)="changePage(currentPage+1)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>