<form class="wrapper" [formGroup]="form">
  <h1>Фильтр</h1>
  <mat-form-field class="w-100" appearance="standard">
    <mat-label>Название</mat-label>
    <input formControlName="name" matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard" class="w-100">
    <mat-label>Категория</mat-label>
    <mat-select formControlName="categories" multiple [disableOptionCentering]="true">
      <mat-option *ngFor="let category of categories" [value]="category.slug">{{category.slug}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>