<div class="wrapper">
    <div class="inline mt-40 fs-20 pointer">{{product.name}}<i class="_icon-arrow ml-23" [routerLink]="['/product', product.id ]"></i></div>
    <div class="mt-29">
        <div class="inline w-453">
            <div class="inline fs-16">Категория</div>
            <div class="inline blue ml-104 fs-16">{{product.slug}}</div>
        </div>
        <div class="inline fs-16">Дата создания</div>
        <div class="inline blue ml-104 fs-16">{{product.createdAt | date: "fullDate"}}</div>
    </div>
    <hr class="mt-29">
</div>