.inline{
    display: inline-block;
}

.wrapper{
    width: 1399px;
}

.blue{
    color: #2962FF;
}

.ml-104{
    margin-left: 104px;
}

.ml-23{
    margin-left: 23px;
}

.w-453{
    width: 453px;
}

.mt-40{
    margin-top: 40px;
}

.mt-29{
    margin-top: 29px;
}

.fs-20{
    font-size: 20px;
}

.fs-16{
    font-size: 16px;
}

.pointer{
    cursor: pointer;
}


