<div class="wrapper">
    <div class="flex pointer" [routerLink]="['']">
        <div class="header_2 inline _icon-arrow transform h-14"></div>
        <div class="ml-5 blue fs-14 ">Вернуться</div>
    </div>
    <ng-container *ngIf="product$ | async as product; else loading">
        <div class="header mt-22 fw-500">{{product.name}}</div>
        <div class="w-700 mt-13">
            <div class="inline mt-40" *ngFor="let parameter of product | keyvalue">
                <div class="inline w-350" *ngIf="parameter.key[0] !== '_' && parameter.key !== 'description'">
                    <div class="fs-16 inline w-132">{{parameterNameList[parameter.key]}}</div>
                    <div class="blue fs-16 inline">{{parameter.value}}</div>
                </div>
            </div>
            <div class="row mt-40">
                <div class="fs-16">{{parameterNameList["description"]}}</div>
                <div class="blue mt-22 fs-16">{{product["description"]}}</div>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #loading>
    нет данных
</ng-template>