.transform{
    transform: rotate(180deg);
}

div{
    font-weight: 400;
}

.wrapper{
    padding: 48px 0px 0px 64px;
    background-color: #FAFAFA;
}

.ml-5{
    margin-left: 5px;
}

.fs-14{
    font-size: 14px;
}

.fs-16{
    font-size: 16px;
}

.h-14{
    line-height: 14px;
    font-size: 14px;
}

.fw-500{
    font-weight: 500;
}

.flex{
    display: flex;
    align-items: baseline;
}

.pointer{
    cursor: pointer;
}

.header{
    font-size: 28px;
}

.mt-22{
    margin-top: 22px;
}

.mt-13{
    margin-top: 13px;
}

.mt-40{
    margin-top: 40px;
}

.blue{
    color: #2962FF;
}

.inline{
    display: inline-block;
}

.w-700{
    width: 700px;
}

.w-132{
    width: 132px;
}

.w-350{
    width: 350px;
}

.w-453{
    width: 453px;
}
