/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/bootstrap/dist/css/bootstrap.css');

@font-face {
    font-family: 'icons';
    src:
      url('./assets/fonts//icons.ttf?9w2nkg') format('truetype'),
      url('./assets/fonts//icons.woff?9w2nkg') format('woff'),
      url('./assets/fonts//icons.svg?9w2nkg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="_icon-"]::before,
  [class*=" _icon-"]::before {
    /* use !important to prevent issues with browser extensions that change ./assets/fonts/ */
    font-family: 'icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ._icon-prev:before {
    content: "\e901";
    font-size: 22px;
    height: 22px;
  }
  ._icon-next:before {
    content: "\e902";
    color: #347cff;
    font-size: 22px;
  }
  ._icon-arrow:before {
    content: "\e900";
    color: #2962ff;
  }

  div{
    font-family: "Roboto";
    font-weight: 500;
  }

  body{
    margin: 0px;
  }


html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #FAFAFA;
}
